{% assign citation = site.data.citations
| where_exp: "citation",
"citation.id == include.lookup or citation.title contains include.lookup"
| first
| default: include
%}



<div class="paper">

  <span class="citation-authors" {% if citation.authors.size> 10 %}
    data-tooltip="{{ citation.authors | join: ", " }} "
    {% endif %}
    tabindex="0"
    >
    {{
    citation.authors
    | join: ","
    | split: ","
    | array_carve: 5
    | join: ", "
    | default: "[no author info]"
    }}
  </span>
  <span>
    ({{ citation.date | default: "[no date info]" | date: "%Y" }}).
  </span>

  <span class="citation-text">
    {% assign type = site.data.types[citation.type] %}

    <strong class="citation-title">
      {{ citation.title | default: "[no title info]" }}.
    </strong>



      <em>{{ citation.publisher | default: "[no publisher info]" }}</em>

      <a class="paper_link" {% if citation.link %} href="{{ citation.link | relative_url }}" {% endif %}>

      {{ citation.id | default: "[no id info]" }}</a>

  </span>
</div>