<footer class="site_footer">
  <div class="footer_top">
    <div class="container">
      <div class="row justify-content-lg-between">
        <div class="col col-lg-3 col-md-6 col-sm-6">
          <div class="site_logo">
            <a class="site_link" href="index.html">
              <img src="/images/logo/site_logo_white.png" alt="AAIRL">
            </a>
          </div>
          <ul class="social_icon unordered_list">
            <li>
              <a href="https://twitter.com/">
                <i class="fab fa-twitter"></i>
                <i class="fab fa-twitter"></i>
              </a>
            </li>
            <li>
              <a href="https://www.linkedin.com/">
                <i class="fab fa-linkedin-in"></i>
                <i class="fab fa-linkedin-in"></i>
              </a>
            </li>
            <li>
              <a href="https://www.youtube.com/">
                <i class="fab fa-youtube"></i>
                <i class="fab fa-youtube"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="footer_bottom">
      <ul class="page_list unordered_list">
        <li><a href="#!">Site Map</a></li>
        <li><a href="#!">Privacy Policy</a></li>
        <li><a href="#!">Terms & Condition</a></li>
        <li><a href="#!">Contact Us</a></li>
        <li><a href="#!">Forums</a></li>
      </ul>
      <p class="copyright_text mb-0">© Copyrights 2022 <a href="/">AAIRL</a> All rights reserved.</p>
    </div>
  </div>
</footer>