<footer class="site_footer">
  <div class="footer_top">
    <div class="container">
      <div class="row justify-content-lg-between">
        <div class="col col-lg-3 col-md-6 col-sm-6">
          <div class="site_logo">
            <a class="site_link" href="https://ariel.ac.il">
              <img src="/images/ariel_logo_en.svg" alt="AAIRL">
            </a>
            <p>
              School of Architecture,<br /> 
              Ariel University, Israel </p>
          </div>
          <ul class="social_icon unordered_list">
            <li>
              <a href="https://twitter.com/">
                <i class="fab fa-twitter"></i>
                <i class="fab fa-twitter"></i>
              </a>
            </li>
            <li>
              <a href="https://www.linkedin.com/">
                <i class="fab fa-linkedin-in"></i>
                <i class="fab fa-linkedin-in"></i>
              </a>
            </li>
            <li>
              <a href="https://www.youtube.com/">
                <i class="fab fa-youtube"></i>
                <i class="fab fa-youtube"></i>
              </a>
            </li>
          </ul>
        </div>


        <div class="col col-lg-3 col-md-6 col-sm-6">
          <div class="widget">
            <h3 class="widget_title">Research and Study</h3>
            <ul class="page_list unordered_list_block">
              <li><a href="/research_projects">Projects</a></li>
              <li><a href="/publications">Publications</a></li>
              <li><a href="/doctoral_studies">Ph.D. Studies</a></li>
              <li><a href="/master_studies">M.Sc. Studies</a></li>
              <li><a href="https://rentle.store/aairl/shop">Lab Equipment</a></li>
            </ul>
          </div>
        </div>

        <div class="col col-lg-3 col-md-6 col-sm-6">
          <div class="widget">
            <h3 class="widget_title">Products and Services</h3>
            <ul class="page_list unordered_list_block">
              <li><a href="/news">News</a></li>
              <li><a href="#!">Team</a></li>
              <li><a href="#!">Machine Leraning</a></li>
              <li><a href="#!">Developer Tools</a></li>
              <li><a href="#!">Web Design</a></li>
            </ul>
          </div>
        </div>


      </div>
    </div>
  </div>

  

  <div class="container">
    <div class="footer_bottom">
      <ul class="page_list unordered_list">
        <li><a href="#!">Site Map</a></li>
        <li><a href="#!">Privacy Policy</a></li>
        <li><a href="#!">Terms & Condition</a></li>
        <li><a href="#!">Contact Us</a></li>
        <li><a href="#!">Forums</a></li>
      </ul>
      <p class="copyright_text mb-0">© Copyrights 2022 <a href="/">AAIRL</a> All rights reserved.</p>
    </div>
  </div>
</footer>