{% assign post = site.posts 
  | where_exp: "post", "post.slug == include.lookup"
  | first
  | default: include
%}

{% assign url = post.url %}
{% assign title = post.title %}

  {% assign excerpt = post.content
    | default: ""
    | regex_scan: "<!-- excerpt start -->(.*)<!-- excerpt end -->", true
    | default: post.excerpt
    | default: ""
    | strip_html
  %}
  {% assign search = post.content
    | strip_html 
    | strip_newlines
    | regex_strip
  %}

<div class="col col-md-6">
  <div class="blog_item">
    {% if post.image %}
    <a class="item_image" href="{{ url | relative_url }}">
      <img src="{{post.image | relative_url}}" alt="{{ title }}">
    </a>
    {% endif  %}
    <div class="item_content">

  {%
    include post-info.html
    author=post.author
    published=post.date
  %}
      <h3 class="item_title">
        <a href="{{ url | relative_url }}">
          {{ title }}
        </a>
      </h3>
      <p>
        {{excerpt}}
      </p>
      <a class="btn_unfill" href="{{ url | relative_url }}">
        Read More
        <i class="far fa-angle-double-right"></i>
      </a>
    </div>
  </div>
</div>
