---
layout: default
---
{% assign t = site.data.i18n[site.active_lang] | default: site.data.i18n.en %}

<!-- Details Section - Start
================================================== -->
<section class="details_section course_details_section">
    <div class="details_content decoration_wrap">
        <div class="container">
            <div class="row align-items-center justify-content-lg-between">
                <div class="col col-lg-7">
                    <div class="content_wrap">
                        <h1 class="details_item_title">
                            {% include t_field.html field="title" %}
                        </h1>
                        <p>
                            {% include t_field.html field="intro" %}
                        </p>
                        {% if page.tag %}
                          {% assign topic_tag = page.tag | downcase %}
                        {% elsif page.tags %}
                          {% assign topic_tag = page.tags | first | downcase %}
                        {% else %}
                          {% assign topic_tag = "" %}
                        {% endif %}

                        {% if topic_tag != "" %}
                          {% assign filter1 = "item['tags'] && item['tags'].map(&:downcase).include?('" | append: topic_tag | append: "')" %}
                          {% assign filter3 = filter1 %}
                        {% else %}
                          {% assign filter1 = "" %}
                          {% assign filter3 = "" %}
                        {% endif %}
                        {% assign filter2 = "" %}
                        {% assign filter_news = filter1 %}
                    </div>
                </div>
                <div class="col col-lg-4">
                    <div class="course_details_video">
                        <img src="{{ page.image }}" alt="{{page.title}}">
                    </div>
                </div>
            </div>
        </div>
        <div class="deco_item deco_img_1" data-parallax='{"y" : -200, "smoothness": 6}'>
            <img src="/images/shapes/line_shape_1.png" alt="" aria-hidden="true">
        </div>
        <div class="deco_item deco_img_2" data-parallax='{"y" : 200, "smoothness": 6}'>
            <img src="/images/shapes/dot_shape_2.png" alt="" aria-hidden="true">
        </div>
    </div>
    <div class="details_section details_info_tab section_space_lg pt-0">
        <div class="container">
            <div class="row justify-content-lg-between">
                <div class="col col-lg-8">
                    <div class="details_section section_wrapper">
                        <h4 class="details_info_title">{{ t.label_about }}</h4>
                        {% include t_field.html field="body" markdownify=true %}
                    </div>
                    {% if page.posts %}
                    <div class="details_section section_wrapper">
                        <h4 class="details_info_title">{{ t.label_news }}</h4>
                        <div class="row">
                        {% include list_small.html data="posts" component="post-excerpt-shorter" filter=filter_news %}
                        </div>
                    </div>
                    {% endif %}
                    {% include paper-list.html match="projects" heading=t.label_papers %}
                </div>
                <div class="col col-lg-4">
                    <aside class="sidebar">
                        <div class="widget course_cart_info">
                            {% assign project_tag = page.tag %}
                            {% assign project_members = site.members | where_exp: "m", "m.projects contains project_tag" %}
                            {% if project_members.size > 0 %}
                            <h3 class="details_info_title">{{ t.label_team }}</h3>
                            {% for m in project_members %}
                            {% include team_mini_portrait.html lookup=m.slug %}
                            {% endfor %}
                            {% endif %}
                            {% if page.funding %}
                            <h3 class="details_info_title" {% if project_members.size > 0 %}style="margin-top:24px;"{% endif %}>{{ t.label_funding }}</h3>
                            <ul class="cart_info_list unordered_list_block">
                                {% for fund_key in page.funding %}
                                {% assign partner = site.data.partners | where: "key", fund_key | first %}
                                {% assign partner_t = t.partners[fund_key] %}
                                <li>
                                    {% if partner %}
                                        {% assign display_name = partner_t.name | default: fund_key %}
                                        {% if partner.url %}
                                            <a href="{{ partner.url }}" target="_blank" rel="noopener">{{ display_name }}</a>
                                        {% else %}
                                            {{ display_name }}
                                        {% endif %}
                                    {% else %}
                                        {{ fund_key }}
                                    {% endif %}
                                </li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                        </div>
                    </aside>
                </div>
            </div>

        </div>
    </div>
</section>
