---
layout: default
---

<!-- Details Section - Start
================================================== -->
<section class="details_section course_details_section">
    <div class="details_content decoration_wrap">
        <div class="container">
            <div class="row align-items-center justify-content-lg-between">
                <div class="col col-lg-7">
                    <div class="content_wrap">
                        <h1 class="details_item_title">
                            {{page.title}}
                        </h1>
                        <p>
                            {{page.intro}}
                        </p>
                        {% assign filter1 = "tags.include?('" | append: page.tag | append: "') && group=='team'" %}
                        {% assign filter2 = "tags.include?('" | append: page.tag | append: "')" %}
                        {% assign filter3 = "tags.include?('" | append: page.tag | append: "') && group=='partners'" %}
                        {% assign filter_news = "tags.include?('" | append: page.tag | append: "')" %}
                    </div>
                </div>
                <div class="col col-lg-4">
                    <div class="course_details_video">
                        <img src="{{page.image | relative_url}}" alt="{{page.title}}">
                    </div>
                </div>
            </div>
        </div>
        <div class="deco_item deco_img_1" data-parallax='{"y" : -200, "smoothness": 6}'>
            <img src="/images/shapes/line_shape_1.png" alt="Line Shape Image">
        </div>
        <div class="deco_item deco_img_2" data-parallax='{"y" : 200, "smoothness": 6}'>
            <img src="/images/shapes/dot_shape_2.png" alt="Line Shape Image">
        </div>
    </div>
    <div class="details_section details_info_tab section_space_lg pt-0">
        <div class="container">
            <div class="row justify-content-lg-between">
                <div class="col col-lg-8">
                    <div class="details_section section_wrapper">
                        <h4 class="details_info_title">About</h4>
                        <p>{{ content }}</p>
                    </div>
                    <div class="details_section section_wrapper">
                        <h4 class="details_info_title">News</h4>
                        <div class="row">
                        {% include list.html data="posts" component="post-excerpt-shorter" filter=filter_news %}
                    </div>
                    </div>
                    <div class="details_section section_wrapper">
                        <h4 class="details_info_title">Funding</h4>
                        <div>
                            <ul>
                                {% for fund in page.funding %}
                                <li>{{ fund }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <div class="details_section section_wrapper">
                        <h4 class="details_info_title">Related Papers</h4>
                        <div>
                            {% include list.html year="false" data="citations" component="citation" filter=filter2 %}
                        </div>
                    </div>
                    <div class="details_section section_wrapper">
                        <h4 class="details_info_title">Team</h4>
                        <div class="course_meta_info unordered_list">
                            {% include list.html data="members" component="team_mini_portrait" filter=filter1 %}
                        </div>
                    </div>
                    <div class="details_section section_wrapper">
                        <h4 class="details_info_title">Collaborators</h4>

                        <div class="course_meta_info unordered_list">
                            {% include list.html data="members" component="team_mini_portrait" filter=filter3
                            %}
                        </div>

                    </div>

                </div>
                <div class="col col-lg-4">
                    <aside class="sidebar">
                        <div class="widget course_cart_info">
                            <h3>Contact Information</h3>
                            <h6>Architeectural AI Research Laboratory</h6>
                            <ul class="cart_info_list unordered_list_block">
                                <li>
                                    <span><i class="fal fa-map-marker  me-1"></i></span>
                                    <span>Suite 3.3.55,
                                        Ariel University</span>
                                </li>
                                <li>
                                    <span><i class="far fa-phone me-1"></i></span>
                                    <span>+972 (0)54-457-7442</span>
                                </li>

                                <li>
                                    <span><i class="far fa-envelope me-1"></i></span>
                                    <span><a href="mailto:jonathand@ariel.ac.il">jonathand@ariel.ac.il</a></span>

                                </li>
                            </ul>
                        </div>
                    </aside>

                </div>
            </div>

        </div>
    </div>
</section>