---
layout: default
---
{% assign t = site.data.i18n[site.active_lang] | default: site.data.i18n.en %}

<section class="page_banner jobs_banner decoration_wrap">
    <div class="container">
        <h1 class="page_heading">{{ t.study_banner_title }}</h1>
        <p>{{ t.study_banner_body }}</p>
    </div>
    <div class="deco_item deco_img_1" data-parallax='{"y" : -200, "smoothness": 6}'>
        <img src="/images/shapes/line_shape_1.png" alt="" aria-hidden="true">
    </div>
    <div class="deco_item deco_img_2" data-parallax='{"y" : 200, "smoothness": 6}'>
        <img src="/images/shapes/dot_shape_2.png" alt="" aria-hidden="true">
    </div>
</section>


<section class="course_section jobs_landing_section section_space_lg">
    <div class="container">
        <div class="team_section_heading">
            <h2>{{ t.study_opportunities_heading }}</h2>
            <p>{{ t.study_opportunities_body }}</p>
        </div>
        <div class="tab-content">
            <div class="row">
                {% include list.html data="jobs" component="course_item" %}
            </div>
        </div>
    </div>
</section>
